@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * { обнулить все отступы
padding: 0;
margin: 0;
} */

body {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    /* font: normal 16px 'Roboto', sans-serif; комбинация свойств шрифта в одной строке */ 
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: darkblue;
}

/* a:visited {
    color: gray;
} */

.avatar {
width: 150px;
border-radius: 20px;
box-shadow: 3px 3px 10px;
}

.info p {
    color: rgb(80, 80, 80);
    margin: 0;
    font-style: italic;
    font-weight: bold;
    /* text-decoration: underline; */
    /* text-transform: lowercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 30px; */
}

/* Box model */

.info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info{
        text-align: center;
        display: block;
    }
} 

.info-text {
    margin-left: 40px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding-top: 30px;
}

/* .social {
    background-color: rgb(200, 200, 200); */
    /* padding: 15px; */
    /* padding: 15px 20px 25px 30px; */
    /* padding-left: 40px;
    border: 5px solid green;
    border-bottom-style:dotted;
    border-bottom-color: green;
    margin: 5px;
} */

/* .box-model > div {
    float: left;
    background: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
} */

.bg-yellow {
    background: rgb(234, 237, 184);
}

.bg-green {
    background: rgb(185, 244, 202);
}

.bg-red {
    background: #baebe0;
}

.bg-grey {
    background: rgb(200, 200, 200);
}

.bg-blue {
    background: rgb(129, 192, 194);
}

.mr-top {
    margin-top: 20px;
}

.mr-bot {
    margin-bottom: 20px;
}

.h3 {
    padding-left: 20px;
}

.card {
    padding: 15px 20px;
    /* background: red; для дебага */
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 10px;
    /* если надо убрать нумерацию списка */
    list-style: none; 
}

/* к тегам li можно обратиься так */
/* .list li { 
    color: dimgray;
    margin-bottom: 10px;
} */

/* к тегам ли можно обратиься и так */
.card li { 
    color: rgb(254, 246, 246);
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(252, 245, 245);
}

.table-1 {
    /* ширина во весь экран */
    width: 100%;
}

.table-1 td {
    padding-bottom: 10px;
}

/* можно обратиться через иерархию к конкретной строчке в таблице */
/* .table-1 .temp td {
    color: white;
} */

/* .temp-1 {
    color: white;
} */

/* или через псевдо селекторы */
.table-1 td:nth-child(2),
.table-1 td:nth-child(3) {
    color: rgb(99, 99, 99);
}

/* выбор четных ячеек */
/* .table-1 td:nth-child(even) {
    background: white;
} */

/* выбор нечетных ячеек */
/* .table-1 td:nth-child(odd) {
    background: white;
} */

.links {
    list-style: square;
}

.links li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.contact h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 15px;
    color: dimgray;
}
 .form-group input,
 .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
 }

 .row {
    display: flex;
    margin-bottom: 20px;
 }

 .row > .form-group {
    width: 50%;
    margin-right: 20px;
 }

 .row > .form-group:last-child {
    margin-right: 0px;
 }

 .btn {
    background: rgb(200, 200, 200);
    color: black;
    padding: 15px 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 5%;
 }

 .btn:hover {
    opacity: 0.9;
 }

 /* Position */

 /* .position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
 } */

 .box {
    position: fixed;
    top: 0px;
    left: 0px;
    /* top: 200px; */
    /* left: 200px; */
    /* right: 0px; */
    /* bottom: 200px; */
    /* bottom: 50px; */
    border-radius: none;

    width: 100%;
    height: 50px;
    background: rgb(243, 242, 242);
 }

 .position h4 {
    text-align: center;
 }